{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'blog/calendrier.css' %}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Calendrier</title>
    </head>
    <body>
        <header>
            <div class="header-color">
                <div class="header-color-titre">
                    <a href="index.html"><h1>EasyPay</h1></a>
                </div>
            </div>
        </header>
        <main>
            <div class="main-box">
                <div class="main-box-box main-box-box-red">
                    <div class="main-box-box-titre">
                        <h4>Janvier</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-red">
                    <div class="main-box-box-titre">
                        <h4>Fevrier</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-red">
                    <div class="main-box-box-titre">
                        <h4>Mars</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-green">
                    <div class="main-box-box-titre">
                        <h4>Avril</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-black">
                    <div class="main-box-box-titre">
                        <h4>Mai</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-black">
                    <div class="main-box-box-titre">
                        <h4>Juin</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-black">
                    <div class="main-box-box-titre">
                        <h4>Juillet</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-black">
                    <div class="main-box-box-titre">
                        <h4>Aout</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-black">
                    <div class="main-box-box-titre">
                        <h4>Septembre</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-black">
                    <div class="main-box-box-titre">
                        <h4>Octobre</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-black">
                    <div class="main-box-box-titre">
                        <h4>Novembre</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-box-box main-box-box-black">
                    <div class="main-box-box-titre">
                        <h4>Decembre</h4>
                    </div>
                    <div class="main-box-box-bouton">
                        <div class="main-box-box-bouton-paye">
                            <a href="payes.html"><button>Payes</button></a>
                        </div>
                        <div class="main-box-box-bouton-stathistorique">
                            <a href="stat.html"><button>Stats</button></a>
                            <a href="historique.html"><button>Historique</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
