<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/style.css' %}" />
        <title>EasyPay</title>
    </head>
    <body>
        <header>
            <div id="box-color-blue">
                <div id="box-color-blue-text">
                    <h1>EasyPay</h1>
                </div>
            </div>
        </header>
        <main>
            <div id="main-color">
                <div id="main-color-header">
                    <div id="main-color-header-text">
                        <h2>Paie personelle</h2>
                    </div>
                </div>
                <div id="main-color-main">
                    <form id="main-color-main-form" action="/submit_payroll/">
                        <div id="form-colonnes">
                            <div id="groupe-pays">
                                <label for="">Nom du service : </label>
                                <select id="service" name="service" required>
                                    <option value="">-- Tous --</option>
                                    <option value="rh">RH</option>
                                    <option value="prod">Prod</option>
                                    <option value="direction">Direction</option>
                                </select>
                            </div>

                            <div id="groupe-personne">
                                <label for="personne">Nom de la personne : </label>
                                <select id="personne" name="personne" required>
                                    <option value="">-- Sélectionner --</option>
                                    <option value="antoine">Antoine Boullanger</option>
                                    <option value="enrico">Enrico Rossi</option>
                                    <option value="daniel">Daniel Martin</option>
                                </select>
                            </div>

                            <div id="groupe-prime">
                                <label for="prime">Prime (€)</label>
                                <input type="number" id="prime" name="prime" min="0" step="5" placeholder="0.00" />
                            </div>

                            <div id="groupe-heure">
                                <label for="heure">Heure sup</label>
                                <input type="number" id="heure" name="heure" min="0" step="0.5" placeholder="0" />
                            </div>

                            <div id="groupe-options">
                                <label>Options</label>
                                <div id="groupe-options-items">
                                    <div id="option-mail">
                                        <input type="checkbox" id="mail" name="mail" />
                                        <label for="mail">Envoyé par mail</label>
                                    </div>
                                </div>
                            </div>

                            <div id="groupe-boutons">
                                <button type="submit" id="btn-soumettre">Enregistrer</button>
                                <button type="reset" id="btn-reinitialiser">Réinitialiser</button>
                                <button type="button" id="btn-telecharger">Télécharger</button>
                            </div>
                        </div>
                        <p id="salaire">Salaire : 1800€</p>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
