{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'blog/stat.css' %}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Stats</title>
    </head>
    <body>
        <header>
            <div class="header-color">
                <div class="header-color-titre">
                    <a href="index.html"><h1>EasyPay</h1></a>
                </div>
            </div>
        </header>
        <main>
            <div class="main-box">
                <div class="main-box-stats">
                    <div class="main-box-stats-under">
                        <div class="main-box-stats-under-titre"><h6>Prime de {{ mois }} :</h6></div>
                        <div class="main-box-stats-under-p"><p>{{ prime_totale }} €</p></div>
                    </div>
                    <div class="main-box-stats-under">
                        <div class="main-box-stats-under-titre"><h6>Heures sup de {{ mois }} :</h6></div>
                        <div class="main-box-stats-under-p"><p>{{ heures_sup_totale }} h</p></div>
                    </div>
                    <div class="main-box-stats-under">
                        <div class="main-box-stats-under-titre"><h6>Total de {{ mois }} :</h6></div>
                        <div class="main-box-stats-under-p"><p>{{ total_salaire }} €</p></div>
                    </div>
                </div>
                <div class="main-box-stats">
                    <div class="main-box-stats-under2">
                        <div class="main-box-stats-under-titre"><h6>Payes de {{ mois }} :</h6></div>
                        <div class="main-box-stats-under-p"><p>{{ total_payes }}/100</p></div>
                    </div>
                    <div class="main-box-stats-under2">
                        <div class="main-box-stats-under-titre"><h6>Salaire moyen :</h6></div>
                        <div class="main-box-stats-under-p"><p>{{ salaire_moyen|floatformat:2 }} €</p></div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
